.form {
  width: auto;
  margin: 20px;
  display: inline-block;
  font-size: 20px;
  height: auto;
  padding: 10px;
  background-color: rgba(236, 236, 236, 0.946);
  color: black;
  transition: 0.3s;
  border: 0.5px solid gray;
  border-radius: 5px;
}

#input {
  outline: none;
}

.add--btn,
.delete--btn {
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  width: auto;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #3aed12;
  color: black;
  border-radius: 16px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  line-height: 1em;
}

.delete--btn {
  background: #ed2112;

}