.form{
  width: auto;
  margin: 50px;
  display: inline-block;
  font-size: 20px;
  height: auto;
  padding: 16px;
  background-color: rgba(236, 236, 236, 0.946);
  color: black;
  transition: 0.3s;
  border: 0.5px solid gray;
  border-radius: 5px;
}

#input{
  outline: none;
}

.add--btn, .del--btn{
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #3aed12 ;
  color: black;
  border-radius: 16px;
  border: none;
  padding: 10px;
  margin: 20px;  
  line-height: 1em;
}
.del--btn{
  background: #ed2112 ;

}